body{
    margin: 0!important;
    padding: 0;   
}
*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.handle-container{
    max-width: 1840px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.handle-container-2{
    max-width: 1620px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
} 
.header{
    height: 110px;
    width: 100%;
    background: #fff;
    padding: 20px 0;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0; 
    z-index: 999;
}
.home-header {
    background: transparent;
}
 .home-header .home-svg-li a span svg path,
 .home-header .lang-vector span svg path,
 .home-header .search-box a span svg path{
    fill: #fff;
 }
 .home-header .nav ul li a{
    color: #fff;
 }
.home-header .lang-box ul{
    background-color: transparent;
    border: none;
}
.home-header .lang-box ul li a{
    color: #fff;
    border-bottom: 1px solid #fff;
}
 .header-div{
    width: 100%;
 }
.header-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-box{
    display: flex;
    align-items: center;
    gap: 57px;
}
.lang-search-box{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}
.logo{
    max-width: 190px;
    max-height: 70px;
}
.nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav ul li{
    list-style: none;
    cursor: pointer;
}
.nav ul li a{   
   color: #666666;
   font-size: 18px;
   font-weight: bold;
   font-family: 'TBC Contractica CAPS';
   text-transform: capitalize;
   transition: 0.1s;
}
.nav ul li:hover a,
.nav ul li.nav-li-active a{
    color: #4269E1;
}
.lang-box{
    position: relative; 
    display: flex;
    min-width: 85px;  
}
.lang-box ul{
    margin: 0;
    padding: 7px 10px;
    position: absolute;
    min-width: 85px; 
    border: 1px solid transparent;
    border-radius: 4px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-height: 37px;
    overflow: hidden; 
}
.lang-box ul li{
    list-style: none; 
}
.lang-box ul li a{
    color:#666666;
    font-size: 20px;
    font-family: 'TBC Contractica CAPS';
    font-weight: 500;
    padding-bottom: 11px;
    border-bottom: 1px solid #4367E1;
    width: fit-content;
}
.lang-box ul li:last-child a {
    border: none;
}
.lang-vector{
    position: absolute;
    right: 6px;
    top: 5px;
    z-index: 99;
    cursor: pointer;
}
.active-lang-box ul{
    max-height: 300px;
    border: 1px solid #4367E1;
}
 
/* banner */
.parallax-banner{
    min-height: 1000px;
    height: 1000px;
    width: 100%;  
    background-position-x: 50%; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    position: relative; 
}
.banner-text-box{
    position: absolute;
    top: 39%;
    transform: translateY(-39%);
    width: 100%; 
}
.banner-title{
    max-width: 770px;
    font-size: 70px;
    color: #FFFFFF;
    line-height: 1.3;
    font-family: 'TBC Contractica CAPS';
    font-weight: bold;
    margin-bottom: 25px;
}
.down-scroll-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color:transparent;
    border: 2px solid #fff;
    padding-top: 5px;
   position: relative;
   z-index: 99;
   cursor: pointer;
}
.banner-text{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    font-family: 'BPG Arial';
    line-height: 1.2; 
}
.banner-svg{
    margin-bottom: 20px;
}
.mb-0{
    margin-bottom: 0;
}
.w-t-1{
    max-width: 1145px;
}
/* banner */
/* About section */
.about-section{
    padding: 50px 0;
}
.about-text h1{
    font-size: 32px;
    font-weight: bold;
    color: #000;
    line-height: 1.3;
    font-family: 'TBC Contractica CAPS';
    margin-bottom: 20px;
}
.about-text .text{
    color: #474747;
    font-size: 20px;
    font-family: 'BPG Arial';
    font-weight: 400;
    line-height: 1.5;
}
/* About section */

/* cards  */
.cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.cards a{  
    position: relative;
    width: calc(100% / 4);
    height: 623px;
    overflow: hidden;
} 
.cards a img{
    width: 100%;
    height: 100%;
    transition: 0.2s;
}
.cards a:hover img{
    width: 105%;
    height: 105%;
}
.text-side{
    position: absolute;
    bottom: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.r-arrow{
    position: absolute;
    right: 28px;
    bottom: 30px;
    pointer-events: none;
}
.text-side h1{
    color: #fff;
    font-size: 30px;
    font-family: 'TBC Contractica CAPS';
    font-weight: bold;
    line-height: 36px;
}
.text-side .text{
    font-size: 16px; 
    font-weight: 400;
    font-family: 'BPG Arial';
    color: #fff;
    line-height: 24px;
}
/* Cards */

 /* circle */
 .circle-cont{
    width: 100%;
    padding: 50px 0;
 }
.circles-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
}
.circle-item{
    width: 330px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle-title{
    margin-top: 34px;
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
    color: #000;
    font-family: 'TBC Contractica CAPS';
    text-align: center;
    padding: 0 15px;
}
.circle{ 
    width: 180px;
    height: 180px; 
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
}  
.circle img{
    max-width: 89px;
    max-height: 80px;
}
.circle .right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 6px solid #4A7FBE;
    border-radius: 100px 0px 0px 100px;
    border-right: 0;
    transform-origin: right;
    z-index: 100; 
    transform: rotate(270deg); 
}
.circle-item:nth-child(2n) .circle .right{
    transform: rotate(90deg)
}
.circle-item:nth-child(2n) .circle-title{
    margin-top: 0;
}
.circle-item:nth-child(2n) {
    margin-top: 34px;
}
.cir-text{
    margin-top: 50px;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-family: 'BPG Arial';
    max-height: 62px;
    transition: 0.3s;
    overflow: hidden;
}
.show-more-load{
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid #4A7FBE;
    transition: 0.2s;
}
.show-more-load span{
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.show-more-load span svg path{
    fill: #4A7FBE;
}
.active-text-height{
    max-height: 1000px;
}
.rotate-arrow{
    transform: rotate(180deg);
}
 /* circle */
 
 /* slider - 1 */
 .slider-1{
    padding-top: 10px;
    padding-bottom: 20px;
    overflow-x: hidden;
 }
 .slider-2{
    padding-bottom: 11px;
 }
 .slider-1 .item{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.2s; 
 }
 .slider-1 .item:hover {
    filter: grayscale(0.3);  
} 
 .slider-1 .item img{
    width: 100%;
    display: initial;
    height: auto;
    transition: 0.1s;
 }
 .slider-1 .item:hover img{
    transform: scale(0.98);
 }
 .slider-text{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px;
    padding-right: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 372px;
 } 
 .slider-text h2{
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    color: #fff;
    font-family: 'TBC Contractica CAPS';
 }
 .slider-text .text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    font-family: 'BPG Arial';
 }
 .owl-carousel .owl-stage-outer{
    overflow: hidden;
    margin-left: -1px;
    position: relative;
 }
 .owl-theme .owl-dots .owl-dot span{
    width: 13px;
    height: 13px;
    background: #4D4D4D ;
 }
 .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #4A7FBE!important;
 }
 .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    top: 50%;
    left: -50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    padding-right: 25px!important;
 }
 .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    top: 50%;
    right: -50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 25px!important;
 }
 .owl-carousel .owl-nav button.owl-prev span,
 .owl-carousel .owl-nav button.owl-next span{
    position: relative;
    font-size: 50px;
    color: transparent;
    margin-top: -6px;
 } 
 .owl-carousel .owl-nav button.owl-prev span::after{
    position: absolute;
    content: url(../img/slider-arrow-left.svg);
    top: 0;
    left: 0;  
 } 
 .owl-carousel .owl-nav button.owl-next span::after{
    position: absolute;
    content: url(../img/slider-arrow-right.svg);
    top: 0;
    left: 0;  
 }
 /* slider - 1 */

 /* Text-image box */
    .text-image-box{
        width: 100%;
        height: 535px;
        background: linear-gradient(to right, #8A2BE2 0%, #4863E1 50%);  
        position: relative;
    }
    .image-text{
        display: flex; 
        justify-content: space-between;
        align-items: center;
        height: 535px;
    }
    .image-text .text{
        width: 50%;
        padding-right: 65px;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        color: #fff;
        font-family: 'TBC Contractica CAPS';
    }
    .image{
        width: 50%;
        height: 535px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .image img{
        width: 100%;
        height: 100%;
    }
    .image iframe{
        width: 100%;
        height: 100%;
    }
    .left-image{
        flex-direction: row-reverse; 
    }
    .left-image .image{
        left: 0;
    }
    .left-image .text{
        padding-right: initial;
        padding-left: 65px;
    }
 /* Text-image box */

 /* Counter  */
    .count-section{
        padding: 50px 0;
        width: 100%;
        overflow-x: hidden;
    }
    .count-container{ 
        width: 102%;
        margin-left: -1%;
        padding: 50px 0; 
        position: relative; 
        background-image: repeating-linear-gradient(5deg, rgba(47,93,211,0.2), rgba(47,93,211,0.2) 27.3px, transparent 30px, transparent 50.019999999999996px, rgba(47,93,211,0.2) 52px), repeating-linear-gradient(95deg, rgba(47,93,211,0.2), rgba(47,93,211,0.2) 27.3px, transparent 30px, transparent 50.019999999999996px, rgba(47,93,211,0.2) 52px), repeating-linear-gradient(185deg, rgba(47,93,211,0.2), rgba(47,93,211,0.2) 27.3px, transparent 30px, transparent 50.019999999999996px, rgba(47,93,211,0.2) 52px), repeating-linear-gradient(275deg, rgba(47,93,211,0.2), rgba(47,93,211,0.2) 27.3px, transparent 30px, transparent 50.019999999999996px, rgba(47,93,211,0.2) 52px);
        background-size: 4px 100%, 100% 4px, 4px 100% , 100% 4px;
        background-position: 0 0, 0 0, 100% 0, 0 100%;
        background-repeat: no-repeat;
    }
     .counter-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px;
     }
     .counter-item{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: calc((100% / 4) - 45px);
        min-width: 340px;
     }
     .count-svg{
        max-width: 92px;
        height: 50px;
        margin-bottom: 25px;
     }
     .count-svg img{
        max-width: 100%;
        max-height: 100%; 
     }
     .counter{
        font-size: 44px;
        color: #443365;
        font-family: 'TBC Contractica CAPS';
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 44px;
     }
     .counter-item h2{
        color: #484848;
        font-family: 'TBC Contractica CAPS';
        font-size: 22px;
        font-weight: 500;
        line-height: 34px; 
     }
     .counter-item .text{
        font-size: 18px;
        font-weight: 400;
        color: #474747;
        font-family: 'BPG Arial';
        line-height: 26px; 
        margin-top: 10px;
     }
    /* Counter  */
     /* block image section */
     .block-cont{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 436px;
        position: relative;
        margin-top: 10px;
        background: #E3E3E3;
     }
     .image-bl{
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%; 
     }
     .image-bl img{
        width: 100%;
        height: 100%;
        object-fit: cover;
     }
      
    .w-100{
       width: 100%; 
       z-index: 9;
    }
     .block-content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
     }
     .img-link-side{
        width: 50%;
        height: 100%; 
    }
    .linking-content{
        display: flex;
        flex-direction: column; 
        padding-right: 6%
    }
    .linking-content h1{
        font-size: 28px;
        font-weight: bold;
        color: #fff;
        font-family: 'TBC Contractica CAPS';
        line-height: 38px;
    }
    .linking-content .text{
        font-family: 'BPG Arial';
        font-size: 26px;
        color: #fff;
        margin-top: 8px;
        font-weight: 400;
    }
    .linking-content a{
        padding: 36px;
        padding-top: 17px;
        padding-bottom: 13px;
        border-radius: 40px;
        border: 3px solid #fff;
        background: transparent;
        margin-top: 25px;
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        font-family: 'TBC Contractica CAPS'; 
        transition: 0.2s;
        width: fit-content;
    }
    .linking-content a:hover{
        background: #fff;
        color: #4269E1;
    }
    .list-side{
        width: 50%;
        padding-left: 4%;
    }
    .list-box ul{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .list-box ul li{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .list-box ul li .text{
        font-size: 24px;
        color: #474747;
        font-weight: 400;
        font-family: 'BPG Arial'; 
        line-height: 36px;
    }
    .right-image-block .image-bl{
        right: 0;
        left: initial;
    }
    .right-image-block .block-content{
        flex-direction: row-reverse;
    }
    .right-image-block .list-side { 
        padding-left: 0;
        padding-right: 6%;
    }
    .right-image-block .linking-content { 
        padding-left: 0;
        padding-right: 0;
    }
    .right-image-block .img-link-side { 
        padding-left: 4%; 
    }
     /* block image section */





    /* Footer */
    .footer-cont{
        width: 100%; 
    }
    .footer-box{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;
        gap: 50px;
    }
    .footer-box .text{
        width: calc(100% - 160px);
        font-size: 18px;
        color: #474747;
        font-weight: 400;
        line-height: 28px;
        font-family: 'BPG Arial'; 
    }
    .f-logo{
        width: 110px;
        height: 121px;
    }
    .f-logo img{
        width: 100%;
        height: 100%;
    }
    .create{ 
        background: linear-gradient(to right, #8A2BE2 0%, #4863E1 100%);
        padding: 21px 0;
    }
    .create-box{
        width: 100%; 
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .create-box h3, .create-box a{
        font-size: 20px;
        color: #fff;
        font-weight: 400;
        font-family: 'BPG Arial'; 
    }
    
    /* Footer */




 
 

 
